.AppBar {
    height: 80px;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 100px;
}

.Title {
    margin: 3px;
    display: flex;
    align-items: center;
}

.Score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.Score h3 {
    margin: 3px;
}
